<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/4a46ee9f-c413-4ac8-87e6-9849c45de56a/resourcegroups/CliniqonFindFriendsAppWebApis20240808001401ResourceGroup/providers/Microsoft.ContainerRegistry/registries/CliniqonFindFriendsAppWebApis20240808005717</ContainerResourceId>
    <ContainerResourceName>CliniqonFindFriendsAppWebApis20240808005717</ContainerResourceName>
    <Subscription>Free Trial</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>cliniqonfindfriendsappwebapis20240808005717.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>cliniqonfindfriendsappwebapis</ContainerName>
    <EnvironmentName>CliniqonFindFriendsAppWebApis-env-20240808005229</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://cliniqonfindfriendsappwebapis-ap.ashyground-d61ae14d.eastus.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/4a46ee9f-c413-4ac8-87e6-9849c45de56a/resourceGroups/CliniqonFindFriendsAppWebApis20240808001401ResourceGroup/providers/Microsoft.App/containerApps/cliniqonfindfriendsappwebapis-ap</ResourceId>
    <ResourceGroup>CliniqonFindFriendsAppWebApis20240808001401ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>