DrCleanerAppWebApis/bin
DrCleanerAppWebApis/obj
.vs
CliniqonFindFriendsAppDataAccess/obj
CliniqonFindFriendsAppDataAccess/bin
CliniqonFindFriendsAppBuisinessLogic/obj
CliniqonFindFriendsAppBuisinessLogic/bin
CliniqonFindFriendsAppWebApis/bin
CliniqonFindFriendsAppWebApis/obj
